* {
  box-sizing: border-box;
}

.card-container {
  --main-color: purple;
  text-align: center;
}
.title-container {
  color: var(--main-color);
}
.card-wrapper {
  --image-size: 140px;
  min-width: calc(var(--image-size) * 2);
  width: 100%;
  max-width: calc(var(--image-size) * 3);
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}
.header-bg {
  height: calc(var(--image-size) * 1.1);
  background-color: var(--main-color);
}
.photo-profile {
  width: var(--image-size);
  height: var(--image-size);
  margin-top: calc(var(--image-size) / 2 * -1);
  margin-bottom: 20px;

  padding: 5px;
  border: 1px solid #aaa;
  border-radius: 50%;

  object-fit: cover;
  object-position: top;

  background-color: white;
}
.full-name-user {
  max-width: 50%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.address-user > img {
  height: 18px;
}
.footer-bg {
  height: calc(var(--image-size) * 0.5);
  padding-top: 8px;
  background-color: var(--main-color);
}
.btn-container {
  margin: 0 30px;
  padding: 10px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.btn {
  margin: 0 auto;
  padding: 0.3em 0.5em;
  max-width: 50%;
  text-transform: capitalize;
  color: white;
}
.follow-bg {
  background-color: forestgreen;
  border-color: var(--main-color);
}
.main-bg {
  border-color: var(--main-color);
  background-color: forestgreen;
}
.card-text {
  padding: 10px 30px;
  font-size: 1.1em;
  line-height: 1.5em;
}
.text-inline {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.footer-bg img {
  width: 30px;
  margin-top: 10px;
}
